/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: blue;
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
.page {

}
.entete{
    background-color: rgb(119, 136, 153);
    padding: 10px;
}
.colonnes {
    background-color:rgb(119, 136, 153);
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: rgb(119, 136, 153);
    margin: 10px;
}
.pieddepage{
    background-color: yellow;
    color: green;
    text-align: center;
    line-height: 50px;
}
.text_border {
    border:3px solid black;
    border-radius: 10px;
    padding: 10px;
}.colonne_menu ul li {
    background-color: gold;
    padding: 10px;
    margin: 10px;
    color: black;
    list-style-type: none;
   
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: roboto;
}
.titre {
    color: white;
    font-size: 1.8em;
    font-style: italic;
}
.slogan {
    color: white;
    font-size: 0.8em;
    font-style: italic;
}
h1 {
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid purple;
}
h2 {
    color: blue;
    font-size: 1.5em;
    margin: 20px;
    font-variant: small-caps;
}



